<!-- layout.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Video Game Inventory</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <!-- Page content will be inserted below -->
  <%- include(content) %>

</body>
</html>
